@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
:root {
    --font-family: 'Montserrat', sans-serif;
    --cor-de-fundo:#0AA1DD;
    --primaria:#E8F9FD;
    
}
body {
    background-color: var(--cor-de-fundo);
    color: var(--primaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
    font-weight: bold;
}
h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
    color: red;
    
}
h3 {
    font-size: 2em;
    margin-top: 20px;
}
.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}
.box {
    border: 2px solid var(--primaria);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;

}




svg {
    width: 15px;
    
    
}